<%= form_with(model: [@user, @post.comments.build], url: user_post_comments_path(@user, @post)) do |form| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Comment' %>
  </div>
<% end %>
