<div class='container'>
  <ul class='table table-responsive table-hover p-0'>
    <% @users.includes(:posts).each do |user| %>
      <li class='row mb-2 m-0'>
        <div class='col-md-1'>
          <% if user.photo.present? && user.photo.start_with?('http') %>
            <img src="<%= user.photo %>" class="img-thumbnail">
          <% else %>
            <img src="<%= user.photo.present? ? user.photo.url : asset_path('default_photo.jpg') %>" class="img-thumbnail">
          <% end %>
        </div>
        <div class='col-md-10 card'>
          <div class='row justify-content-between'>
            <h4 class='align-bottom'><%= link_to user.name, user_path(user) %></h4>
            <label class='align-bottom text-end'>Number of posts: <span><%= user.posts_counter %></span></label>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
