<h1>
  All posts
</h1>

<ul>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, user_post_path(post.author, post) %>
      </li>
    <% end %>
  <% else %>
    <li>No posts found</li>
  <% end %>
</ul>
